*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.pyhtml linguist-language=PyHTML
*.pyhtml linguist-detectable=true
*.pyhtml linguist-documentation=false

*.svg linguist-language=SVG
*.svg linguist-detectable=true

*.json linguist-language=JSON
*.json linguist-detectable=true

*.txt linguist-language=Text
*.txt linguist-detectable=true